*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
jboss-bpms-6.0.2.GA-redhat-5-deployable-eap6.x.zip
jboss-bpms-6.0.3.GA-redhat-1-deployable-eap6.x.zip
jboss-bpms-6.1.0.redhat-0-deployable-eap6.x.zip
jboss-eap-6.1.1.zip
jboss-eap-6.3.0.Beta.zip
jboss-dv-installer-6.0.0.GA-redhat-4.jar
jbdevstudio-product-universal-7.1.1.GA-v20140314-2145-B688.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
